.navbar-brand {
    position: relative;
    background: url(/resources/images/avatar.jpg) left no-repeat;
    width: 110px;
    left: 15px;
    background-size: contain;
    height: 70px;
}
.table-striped>tbody>tr:nth-child(odd){
    background-color: #f5f5f5;
}
.w-90 {
    width: 90px;
}
th {
    text-align: center;
}


#submit-search{
    position: absolute;
    top: -999px;
    left: -999px;
    width: 0px;
    height: 0px;
}